controller_manager:
  ros__parameters:
    update_rate: 100 # Hz
    # use_sim_time: true # set to true while using with gazebo, false for real robot

    # Load the joint trajectory controller - from the library ros2_controllers
    rmitbot_controller:
      type: diff_drive_controller/DiffDriveController

    # Load the joint state broadcaster - motor encoder values
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

rmitbot_controller:
  ros__parameters:
    type        : diff_drive_controller/DiffDriveController
    use_stamped_vel: true
    left_wheel_names  : ['wheel_left_joint']
    right_wheel_names : ['wheel_right_joint']

    publish_rate: 50.0               # default: 50
    # Odometry noise in pose and twist
    pose_covariance_diagonal : [0.001, 0.001, 1.0e-3, 1.0e-3, 1.0e-3, 0.01]
    twist_covariance_diagonal: [0.001, 0.001, 1.0e-3, 1.0e-3, 1.0e-3, 0.01]

    wheel_separation : 0.17
    wheel_radius : 0.033

    wheel_separation_multiplier: 1.0
    left_wheel_radius_multiplier: 1.0
    right_wheel_radius_multiplier: 1.0

    # Velocity commands timeout [s], default 0.5
    cmd_vel_timeout: 0.5

    # Publish limited velocity
    publish_limited_velocity: true

    # Publish wheel data
    publish_wheel_data: true

    # Publish to TF directly
    # The controller broadcast odom-->base_footprint_raw
    # The localization broadcast odom-->base_footprint
    enable_odom_tf: true 
    odom_frame_id: odom
    # base_frame_id: base_footprint
    base_frame_id: base_footprint_raw

    # Velocity and acceleration limits
    # Whenever a min_* is unspecified, default to -max_*
    linear:
      x:
        has_velocity_limits    : true
        max_velocity           : 10.  # m/s base 1.0
        min_velocity           : -10. # m/s base -0.5
        has_acceleration_limits: true
        max_acceleration       : 2.  # m/s^2 base 0.8
        min_acceleration       : -2. # m/s^2 base -0.4
        has_jerk_limits        : false
        max_jerk               : 5.  # m/s^3 base 5.
    angular:
      z:
        has_velocity_limits    : true
        max_velocity           : 25.  # rad/s base 1.7
        has_acceleration_limits: true
        max_acceleration       : 25.  # rad/s^2 base 1.5
        has_jerk_limits        : false
        max_jerk               : 5.  # rad/s^3 base 2.5