<?xml version="1.0"?>
<!-- Description of the robot in URDF format -->
<!-- Each link must have at least visual for rivz -->
<!-- Each link must have inertia and collision for gazebo -->

<robot name="rmitbot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Load Simulated or Real Hardware Interfaces -->
    <xacro:arg name="is_sim" default="true"/>

    <xacro:include filename="$(find rmitbot_description)/urdf/rmitbot_platform.xacro" />
    <xacro:include filename="$(find rmitbot_description)/urdf/rmitbot_gazebo.xacro" />
    <xacro:include filename="$(find rmitbot_description)/urdf/rmitbot_ros2_control.xacro" />
    <xacro:include filename="$(find rmitbot_description)/urdf/rmitbot_imu.xacro" />

</robot>